<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title></title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="wrapper is-wide relative">

<div class="box__flex is-align-top">
    <div class="box__flex-column size-50">
      <div class="text__path">app/views/books/_form.html.erb</div>
        <div class="box code-box">
<pre>
<div class="form__block is-margin-zero"><%= form_with(model: book)<br> do |form| %>
<div class="form__block is-title">  &lt;div&gt;
    <%= form.label :title %>
    <%= form.text_field :title %>
  &lt;/div&gt;
</div><div class="form__block is-memo">  &lt;div&gt;
    <%= form.label :memo %>
    <%= form.text_area :memo %>
  &lt;/div&gt;
</div><div class="form__block is-button">  &lt;div&gt;
    <%= form.submit %>
  &lt;/div&gt;
</div><% end %>
</div></pre>
    </div>
  </div>
  <div class="box__flex-column size-50">
    <div class="form__block-border-none">
      <img src="../img/img_form_headline.png" class="form__image">
    </div>
    <div class="form__block">
      <div class="form__block is-title">
        <img src="../img/img_form_title.png" class="form__image">
      </div>
      <div class="form__block is-memo">
        <img src="../img/img_form_memo.png" class="form__image">
      </div>
      <div class="form__block is-button is-inline-block is-margin-bottom">
        <img src="../img/img_form_button.png" width="106" class="form__image">
      </div>
    </div>
    <div class="form__block-border-none">
      <img src="../img/img_form_back.png" class="form__image">
    </div>
  </div>
</div>

<div class="arrow-right is-title arrow-right__position" style="top: 100px;"></div>
<div class="arrow-right is-memo arrow-right__position" style="top: 230px;"></div>
<div class="arrow-right is-button arrow-right__position" style="top: 356px;"></div>

</div>
</body>
</html>
