<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title></title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="wrapper is-wide relative">

<div class="box__flex is-align-top">
  <div class="box__flex-column size-50">
    <div class="text__path">app/views/books/_form.html.erb</div>
      <div class="box code-box">
<pre>
<%= form_with(model: book)<br> do <span class="text__accent">|form|</span> %>
<div class="form__block is-title">  &lt;div&gt;
    <%= <span class="text__accent">form.label :title</span> %>
    <%= <span class="text__accent">form.text_field :title</span> %>
  &lt;/div&gt;
</div>...
</pre>
    </div>
  </div>
  <div class="box__flex-column size-50" style="padding-top: 71px;">
    <div class="form__block-border-none-2">
      <img src="../img/img_form_headline.png" class="form__image">
    </div>
    <div class="form__block is-title">
      <img src="../img/img_form_title.png" class="form__image">
    </div>
</div>

<div class="arrow-right is-title is-small arrow-right__position" style="top: 139px;margin-left: -35px;"></div>
<div class="arrow-right is-title is-small arrow-right__position" style="top: 164px;margin-left: -22px;"></div>

</div>
</body>
</html>
