/* ----------------------------------------------------------
/* variables
/* 変数
/* ---------------------------------------------------------- */

/* ----------------------------------------------------------
/* color
/* ---------------------------------------------------------- */

// テキスト
$text-color: #333;

// 背景
$base-color-light-1: #FFEBEB;
$base-color-light-2: #FFF2DC;
$base-color-light-3: #fdecb9;
$base-color-light-4: #e0fbd1;
$base-color-light-5: #cdf3fd;

$base-color-1: #ffaeae;
$base-color-2: #FFD28A;
$base-color-3: #fbd256;
$base-color-4: #9cd87b;
$base-color-5: #96c9da;

// グレー地
// $base-color-light-4: #fcfcfc;
// $base-color-4: #d6d6d6;

// 強調色
$main-color: #cf2c2c;
$arrow-color: #d55151;
$accent-color: #0b72b3;

// フォルダアイコンの色
$folder-color: #FFB369;

// コマンド地の装飾
$command-color-light: #d8d8d8;
$command-color: #777;

// フォーム解説図の枠と矢印の色
$form-border-color-1: #ee8ecc;
$form-border-color-2: #56baee;
$form-border-color-3: #48c772;

$line-color: lighten($text-color, 50%);

/* ----------------------------------------------------------
/* round 角丸
/* ---------------------------------------------------------- */

$round-large: 12px;
$round-medium: 8px;
$round-small: 4px;

/* ----------------------------------------------------------
/* break point
/* ---------------------------------------------------------- */
// $content-size: 1020px;
// $break-point: $content-size - 1px; 
