/* ----------------------------------------------------------
/* variables
/* 変数
/* ---------------------------------------------------------- */

/* ----------------------------------------------------------
/* color
/* ---------------------------------------------------------- */
$box-color-1: #94e0ff;
$box-color-2: #ff96dc;
$box-color-3: #b03373;

$arrow-color-1: #ffd679;

$main-color: #ab47bc;
$main-sub-color: #fce4ec;
$base-color: #fffde7;
$text-color: #000;

$thin-gray: #f7f7f7;

$line-color: lighten($text-color, 50%);

/* ----------------------------------------------------------
/* round 角丸
/* ---------------------------------------------------------- */

$round-large: 16px;
$round-medium: 8px;
$round-small: 4px;

/* ----------------------------------------------------------
/* break point
/* ---------------------------------------------------------- */
// $content-size: 1020px;
// $break-point: $content-size - 1px; 
