/* ----------------------------------------------------------
/* variables
/* 変数
/* ---------------------------------------------------------- */

/* ----------------------------------------------------------
/* color
/* ---------------------------------------------------------- */
$base-color-light-1: #FFEBEB;
$base-color-light-2: #FFF2DC;
$base-color-light-3: #FFFBC6;
$base-color-light-4: #E7FCDC;
$base-color-light-5: #E3F9FF;

$base-color-1: #FFBDBD;
$base-color-2: #FFD28A;
$base-color-3: #FFE975;
$base-color-4: #BCEDA1;
$base-color-5: #B8EEFF;

$main-color: #cf2c2c;
$arrow-color: $main-color;
$accent-color: #69C0E0;
$folder-color: #FFB369;

// 以下使ってない
$main-sub-color: #fce4ec;
$base-color: #fffde7;
$text-color: #333;

$thin-gray: #f7f7f7;

$line-color: lighten($text-color, 50%);

/* ----------------------------------------------------------
/* round 角丸
/* ---------------------------------------------------------- */

$round-large: 12px;
$round-medium: 8px;
$round-small: 4px;

/* ----------------------------------------------------------
/* break point
/* ---------------------------------------------------------- */
// $content-size: 1020px;
// $break-point: $content-size - 1px; 
