/* ----------------------------------------------------------
/* text
/* 文字周りのスタイル
/* ---------------------------------------------------------- */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.75;
  font-family: sans-serif;
  color: $text-color;
  /* フォントレンダリング設定: 1x解像度ではsubpixel、2x以上の解像度ではgrayscale */
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  @include resolution2x {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* ----------------------------------------------------------
/* headeline
/* ---------------------------------------------------------- */
h1 {
  // font-size: 3.2rem;
  /* or */
  font-size: 4rem;
  font-weight: normal;
}
h2 {
  font-size: 3rem;
  font-weight: bold;
}
h3 {
  font-size: 2.4rem;
  font-weight: bold;
}
h4 {
  font-size: 2rem;
  font-weight: bold;
}
h5 {
  font-size: 1.6rem;
  font-weight: bold;
}
h6 {
  font-size: 1.4rem;
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
  margin: 0.5em 0;
}
h5,
h6 {
  margin: 1em 0;
}

/* ----------------------------------------------------------
/* paragraph
/* ---------------------------------------------------------- */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* ----------------------------------------------------------
/* typography
/* ---------------------------------------------------------- */
.bold {
  font-weight: bold;
}

.small {
  font-size: 80%;
}

.accent {
  font-family: sans-serif;
  font-weight: bold;
  // color: $main-color; 赤
  color: $accent-color; // 青
  display: inline; // div指定時の表示崩れ対策
}

/* ----------------------------------------------------------
/* blockquote
/* ---------------------------------------------------------- */
blockquote {
  margin: 1em 0;
  border-left: 4px solid $line-color;
  padding-left: 8px;
}

/* ----------------------------------------------------------
/* list
/* ---------------------------------------------------------- */
ul[class],
ol[class] {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul,
ol,
dl {
  margin: 1em 0;
}

dt {
  font-weight: bold;
}

ul,
ol {
  margin-left: 0.5em;
  list-style-position: inside;
}

/* ----------------------------------------------------------
/* table
/* ---------------------------------------------------------- */
table {
  margin: 1em 0;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid $line-color;
  background: #fff;
  padding: 4px;
  word-break: break-all;
}

/* ----------------------------------------------------------
/* link
/* ---------------------------------------------------------- */
a {
  color: $main-color;
  &:hover {
    opacity: 0.8;
  }
}
