/* ----------------------------------------------------------
/* arrow-right
/* 右に向かう横向きの矢印
/* ---------------------------------------------------------- */

$arrow-right-width-value: 30px;
$arrow-right-height-value: 50px;

.arrow-right {
  margin: 0;
  height: $arrow-right-height-value;
  &::before, &::after {
    display: inline-block;
    content: '';
  }
  &::before {
    // 胴体の部分
    // width: calc(100% - #{$arrow-right-height-value}); // 100%の場合
    width: $arrow-right-width-value + $arrow-right-height-value;
    height: 45%;
    background: $arrow-color;
  }
  &::after {
    // 三角の部分
    width: $arrow-right-height-value;
    height: $arrow-right-height-value;
    border: $arrow-right-height-value / 2 solid transparent;
    border-left-color: $arrow-color;
    margin-bottom: - $arrow-right-height-value / 4;
  }
  // フォームで使う色
  &.is-title {
    &::before { background: $form-border-color-1; }
    &::after { border-left-color: $form-border-color-1; }
  }
  &.is-memo {
    &::before { background: $form-border-color-2; }
    &::after { border-left-color: $form-border-color-2; }
  }
  &.is-button {
    &::before { background: $form-border-color-3; }
    &::after { border-left-color: $form-border-color-3; }
  }
  // 小さいサイズ
  &.is-small {
    &::before {
      // 胴体の部分
      width: 129px;
      height: 19%;
    }
    &::after {
      // 三角の部分
      width: $arrow-right-height-value / 2;
      height: $arrow-right-height-value / 2;
      border-width: $arrow-right-height-value / 4;
      margin-bottom: - $arrow-right-height-value / 6;
    }
  }
}

.arrow-right__position {
  // 左右方向中央に位置
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-53%); // 三角がラインにかぶリすぎないように位置調整あり
}
