/* ----------------------------------------------------------
/* arrow
/* 矢印
/* ---------------------------------------------------------- */

$arrow-width-value: 50px;
$arrow-height-value: 30px;

.arrow {
  height: $arrow-height-value;
  &::before, &::after {
    display: block;
    content: '';
  }
  &::before {
    // 胴体の部分
    width: 45%;
    height: 100%;
    background: $arrow-color;
    margin: 0 auto;
  }
  &::after {
    // 三角の部分
    width: $arrow-width-value;
    height: $arrow-width-value;
    border: $arrow-width-value / 2 solid transparent;
    border-top-color: $arrow-color;
  }
  &.is-small {
    // 小さいサイズ
    margin-top: -3px;
    &::before {
      // 胴体の部分
      height: 60%;
    }
    &::after {
      // 三角の部分
      width: $arrow-width-value / 2;
      height: $arrow-width-value / 2;
      border: $arrow-width-value / 4 solid transparent;
      border-top-color: $arrow-color;
    }
  }
  &.display-inline-block {
    // 行の中に入れる場合
    display: inline-block;
    vertical-align: middle;
  }
}

.arrow__position-right-top {
  // 右上から大きく表示する
  $position-value: -40px;
  position: absolute;
  right: 20px;
  top: $position-value;
  margin-top: 0;
  height: calc(100% - #{$position-value * 1.6});
}

.arrow__position-routes {
  // Routesから表示する
  $position-value: 74px;
  position: absolute;
  right: 20px;
  top: $position-value;
  margin-top: 0;
  height: calc(100% - #{$position-value / 2});
}

.arrow__box {
  padding: 0 1em;
  height: 48px;
  .arrow__box-arrow {
    // arrow__box の高さに合わせられる矢印
    height: 100%;
    &::before {
      // 胴体の部分
      height: calc(100% - #{$arrow-width-value} / 2.5);
    }
    &::after {
      // 三角の部分
      width: $arrow-width-value / 1.25;
      height: $arrow-width-value / 1.25;
      border: $arrow-width-value / 2.5 solid transparent;
      border-top-color: $arrow-color;
    }
  }
}
