/* ----------------------------------------------------------
/* box
/* 基本の部品
/* ---------------------------------------------------------- */

.box {
  background: $base-color-light-5;
  border-radius: $round-large;
  border: 2px solid $base-color-5;
  padding: 0.75em 1em;
  & + & {
    margin-top: 1em;
  }
  &.app-box {
    background: $base-color-light-1;
    border-color: $base-color-1;
    padding: 1em;
  }
  &.crud-box {
    background: $base-color-light-3;
    border-color: $base-color-3;
    padding: 0.5em 1em 1em;
  }
  &.code-box {
    background: $base-color-light-4;
    border-radius: 0;
    border-color: $base-color-4;
    padding: 0.75em 1em;
  }
}

.box__headline {
  margin: 0 0 0.15em;
  font-size: 125%;
}

.box__small {
  // Routes Controller View の枠
  background: $base-color-1;
  padding: 0 1em;
  border-radius: $round-medium;
  &.with-margin {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
}

.box__flex {
  display: flex;
  align-items: center;
  &.is-large {
    // migration 模式図で使用
    margin: 0.65em auto 0;
    width: 70%;
  }
  &.is-align-top {
    justify-content: space-between;
    align-items: normal;
  }
}

.box__flex-column {
  margin-top: 0;
  &.is-command {
    // コマンドの背景色を右側まで伸ばす
    flex-grow: 2;
  }
  &.is-left-margin {
    margin-left: 1em;
  }
  // サイズの指定。パーセンテージで。
  &.size-50 {
    width: calc(50% - 1em);
    margin: 0;
  }
  &.size-40 {
    width: calc(40% - 1em);
    margin: 0;
  }
  &.size-60 {
    width: calc(60% - 1em);
    margin: 0;
  }
}

.box__no-bg {
  padding: 0 1em;
}

.box__small-headline {
  display: inline-block;
  font-size: 120%;
  width: 6em;
  margin: 0.4em 0;
}

.opacity {
  opacity: 0.3;
}

.icon__file {
  font-size: 110%;
  opacity: 0.6;
  margin-left: 10px;
}

.box__image {
  display: inline;
  &.is-helloworld {
    margin: 0.4em 1em 0;
  }
}
