/* ----------------------------------------------------------
/* command
/* コマンドの部品
/* ---------------------------------------------------------- */

$command-padding: 0.5em; 
.command {
  border-left: $command-padding / 1.5 solid $command-color;
  background: $command-color-light;
  padding: 0 $command-padding;
  font-family: monospace;
}

.command__no-bg {
  margin: 0;
}