/* ----------------------------------------------------------
/* form
/* フォームの部品
/* ---------------------------------------------------------- */

.form__image {
  display: block;
  margin: 8px;
  max-width: 100%;
}