/* ----------------------------------------------------------
/* list
/* リストの部品
/* ---------------------------------------------------------- */

ul.list {
  margin-top: 0.3em;
}

.list__item {
  margin: 0;
  line-height: 1.4;
  &::before {
    @include fa;
    font-weight: 900;
    content: '\f105';
    margin: 0 6px;
    font-size: 130%;
    color: $accent-color;
  }
  .list {
    margin-left: 1em;
    font-size: 90%;
  }
}
